---
Tuple unpacking

In [3]:
stock_prices = [
    ('APPLE', 200),
    ('GOOGLE', 400),
    ('MSFT', 600)
]

for item in stock_prices:
    print(item)

('APPLE', 200)
('GOOGLE', 400)
('MSFT', 600)

In [4]:
for ticker, price in stock_prices:
    print(price + (0.1 * price))

220.0
440.0
660.0

In [5]:
for ticker, price in stock_prices:
    print(ticker)

APPLE
GOOGLE
MSFT

---
Intermediate level tuple unpacking

In [6]:
work_hours = [
    ('Abby', 100),
    ('Billy', 400),
    ('Cassie', 800)
]

def employee_check(work_hours):
    current_hours = 0
    employee_of_the_month = ''
    
    for employee,hours in work_hours:
        if hours > current_hours:
            current_hours = hours
            employee_of_the_month = employee
        else: 
            pass
        
    return (employee_of_the_month, current_hours)

In [11]:
result = employee_check(work_hours)

In [12]:
result

('Cassie', 800)

OR like this -->

In [13]:
name, hours = employee_check(work_hours)

In [14]:
result

('Cassie', 800)

In [15]:
name

'Cassie'

In [16]:
hours

800

---
Interactions between python functions

In [20]:
from random import shuffle

example = [1, 2, 3, 4, 5, 6, 7]
shuffle(example)
example

[7, 1, 3, 2, 6, 5, 4]

---
Concept: *args and **kwargs

---
*args --> (tuple) : In '*args', the * indicates that the user can pass as many arguments he/she want.

In [28]:
def func(*args):
    print(args)
    return sum(args) * 0.05

In [29]:
func(40, 60, 100, 1, 34)

(40, 60, 100, 1, 34)

11.75

In [30]:
def myFunc(*args):
    return [arg for arg in args if arg % 2 == 0]

In [31]:
myFunc(5, 6, 7, 8)

[6, 8]

---
**kwargs --> (dictionary) : It works like a dictionary, if we mention a key as the input --> we get its value as the output

In [34]:
def myFunc(**kwargs):
    print(kwargs)
    
    if 'fruit' in kwargs:
        print("My fruit of choice is {}".format(kwargs['fruit']))
    else:
        print("I did not found any fruit here")

In [35]:
myFunc(fruit = 'Apple', veggie = 'lettuce')

{'fruit': 'Apple', 'veggie': 'lettuce'}
My fruit of choice is Apple

---
Functions #10: skyline

Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long a

In [38]:
def myFunc(input_string):
    result = ''
    for i in range(len(input_string)):
        if i % 2 == 0:
            result += input_string[i].upper()
        else:
            result += input_string[i].lower()
    
    return result

In [39]:
myFunc(input("Enter a string"))

'PaRtH'

---
.join( ) method --> built-in python stuff

In [72]:
def master_yoda(text):
    wordList = text.split()
    reversed_word_list = wordList[ : : -1]
    return ' '.join(reversed_word_list)

In [73]:
master_yoda("I am parth")

'parth am I'